<%#= render "hero_slider" %>
<section class="houses">
  <div>
    <h2 class="main-title tween-animate-title">Find Your House</h2>
    <p class="sub-title tween-animate-title">お気に入りの宿泊先を見つけましょう</p>
  </div>
  <div class="houses__inner">
    <div class="houses__item">
      <div class="cover-slide hover-darken ">
        <%= image_tag "villa-1.jpg",class: "img-zoom" %>
      </div>
      <p class="houses__title">House 1</p>
    </div>
    <div class="houses__item">
      <div class="cover-slide hover-darken" id="villa-2">
        <%= image_tag 'villa-2.jpg',class:"bg-img-zoom img-bg50"%>
      </div>
      <p class="houses__title">House 2</p>
    </div>
    <div class="houses__item">
      <div class="cover-slide hover-darken" id="villa-3">
        <%= image_tag 'villa-3.jpg',class:"bg-img-zoom img-bg50"%>
      </div>
      <p class="houses__title">House 3</p>
    </div>
    <div class="houses__item">
      <div class="cover-slide hover-darken" id="villa-4">
        <%= image_tag 'villa-4.jpg',class:"bg-img-zoom img-bg50"%>
      </div>
      <p class="houses__title">House 4</p>
    </div>
    <div class="houses__item">
      <div class="cover-slide hover-darken" id="villa-5">
        <%= image_tag 'villa-5.jpg',class:"bg-img-zoom img-bg50"%>
      </div>
      <p class="houses__title">House 5</p>
    </div>
    <div class="houses__item">
      <div class="cover-slide hover-darken" id="villa-5">
        <%= image_tag 'villa-5.jpg',class:"bg-img-zoom img-bg50"%>
      </div>
      <p class="houses__title">House 5</p>
    </div>
    <div class="houses__item">
      <div class="cover-slide hover-darken" id="villa-6">
        <%= image_tag 'villa-6.jpg',class:"bg-img-zoom img-bg50"%>
      </div>
      <p class="houses__title">House 6</p>
    </div>
  </div>
</section>
