<!DOCTYPE html>
<html>
  <head>
    <title>PracticeHtml4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="global-container">
    <div id="container">
      <div id=content>
        <%= yield %>
      </div>
    </div>
  </div>
  </body>
</html>
